.git
.github
.idea
.vscode
.zed
.nova
.cursor
.claude
.phpactor.json
.phpunit.cache
.phpunit.result.cache

node_modules
vendor
public/build
public/hot
public/storage

.env
.env.*
!.env.example

storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/debugbar/*
!storage/debugbar/.gitignore
storage/framework/cache/data/*
!storage/framework/cache/data/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing/*
!storage/framework/testing/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
storage/pail
storage/*.key

database/*.sqlite
database/*.sqlite-journal

tests
*.log
.DS_Store
Thumbs.db
README.md
Dockerfile
.dockerignore
